.divBaixo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.imagemBaixo{
    border-radius: 15px;
    height: 270px;
    margin-left: 50px;
}

.titleBaixo{
    color: black;
    text-align: center;
    font-size: 25px;
}

.subtitleBaixo{
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
}

.divTextos{
    width: 700px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}