.areaCard{
    margin-top: 30px;
    background-color: #f6f6f6;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    box-shadow:  8px 8px 25px #a6a6a6,
    -4px -4px 25px #ffffff;
    margin-bottom: 30px;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dividirCard{
    width: 100%;
    display: flex;
    gap: 35px;
}

.esquerda{
    background-color: #6A3CF7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100%;
    border-radius: 20px;
}

.direita{
    height: 100%;
    width: 50%;
}

.icone{
    color: white;
    font-size: 50px;
}

.carregaImgs{
    opacity: 0;
    position: absolute;
    width: 40%;
    height: 85%;
}

.label{
    font-size: 17px;
    font-weight: bold;
}

.inputChat{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #eeeeee;
    cursor: pointer;
    box-shadow: 5px 5px 10px #c1c1c1;
    margin-bottom: 10px;
}

.inputChat:hover, .inputChat:focus{
    outline: none;
    border-color: #4821c2;
    box-shadow: 0 0 0 4px #8162f1;
    transition: 0.5s !important;
}

.btnChat{
    width: 100%;
    height: 45px;
    border: none;
    background-color: #6A3CF7;
    border-radius: 10px;
    box-shadow: 4px 4px 25px #9c9c9c, -4px -4px 25px #ffffff;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.btnChat:hover{
    transform: scale(1.02);
}
