.Content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn{
    width: 10vw;
    height: 7vh;
    border: none;
    background-color: #7246ff;
    border-radius: 15px;
    box-shadow:  4px 4px 25px #9c9c9c,
    -4px -4px 25px #ffffff;
    font-size: 22px;
    font-weight: bold;
}

.btn a{
    color: white;
    text-decoration: none;
}

.btn:hover{
    transform: scale(1.08);
    background-color: #5027d0;
}

.divInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #f3f3f3;
    cursor: pointer;
    box-shadow: 5px 5px 10px #c1c1c1;
    margin-bottom: 15px;
}

.divInput:focus, .divInput:hover{
    outline: none;
    border-color: #4821c2;
    box-shadow: 0 0 0 4px #8162f1;
    transition: 0.5s !important;
}





.inputCadastro{
    border: none;
    width: 70%;
    background-color: #f3f3f3;
    outline: none;
}

.inputCadastro::placeholder{
    color: #A8A8A8;
    font-size: 18px;
}