.titleCriandoMemorias{
    font-size: 40px;
    font-weight: bold;
    color: #6A3CF7;
    text-align: center;
    margin-bottom: 40px;
}

.divImagensHover{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
